<ons-page id="daily_page">
    <ons-toolbar>
        <div class="left">
            <!-- メニュー -->
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
        </div>
        <div class="right">
            <!-- 日月切替ボタン -->
            <ons-toolbar-button ng-click="myNavigator.replacePage('monthly.html', { animation : 'slide' } )">
                <ons-icon icon="fa-calendar"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">
            <span id="day"><span class="year"></span>.<span class="month"></span>.<span class="date"></span>
            <input type="hidden" name="disp_date" id="disp_date" value="">
        </div>
    </ons-toolbar>
<div class="daily">
    <div id="daily_main_area">
        <!-- 作業時間 -->
            <section id="work_time_input_area">
                <div id="work_time">
                    <span><img src="images/time-16.png" alt="clock">作業時間</span>
                </div>
                <div class="dailyTimeWrapper">
                    <div class="dTime attendance">
                        <p>出勤</p>
                        <div class="timePicker" id="actual_work_start_time"></div>
                    </div>
                    <div class="dTime">
                    </div>
                    <div class="dTime leaving">
                        <p>退勤</p>
                        <div class="timePicker" id="actual_work_end_time"></div>
                    </div>
                </div>
            </section>
        
        <!-- 休暇アイコン -->
        <section type="hidden"id="holiday_view">
         <img src="images/heart-on-human-240.png"/>
        </section>
        
        <!-- 備考 -->
        <section id="remark_section">
            <div id="input_description">
                <p><img src="images/clipboard-4-16.png" alt="clip" />備考</p>
                <textarea id="anote" class="remark_textarea" rows="4" placeholder="備考入力欄" ></textarea>
            </div>
        </section>

        <!-- タブバー -->
        <div class="tab-bar">
            <label ng-click="" class="tab-bar__item">
                <input type="radio" name="tab-bar-b" checked="checked" onClick="setWorkStartTime();" class="work_start_input">
                <button id="stop" class="tab-bar__button work_start_button">
                    <i class="tab-bar__icon">出勤</i>
                </button>
            </label>
            
            <label ng-click="" class="tab-bar__item">
                <input type="radio" name="tab-bar-b" onClick="setWorkEndTime();" class="work_end_input">
                <button id="record" class="tab-bar__button work_end_button">
                    <i class="tab-bar__icon">退勤</i>
                </button>
            </label>
            
            <label ng-click="" class="tab-bar__item" onClick="setHoliday('text');">
                <input type="radio" name="tab-bar-b">
                <button id="star" class="tab-bar__button" >
                    <i class="tab-bar__icon"><span id="text" ></span></i>
                </button>
            </label>
        </div>
      </div>  
    </div>
</ons-page>